$tab-size: 780px;


.features{
    display: grid;
    
    row-gap: 80px;
    
    @media screen and ( max-width: $tab-size ) {
        row-gap: 65px;
    }

    @media screen and ( min-width: $tab-size+1 ) {
        >.feature:not(:last-child){
            margin-bottom: 40px;
        }
    }
}

.feature{
    display: grid;
    @media screen and ( min-width: $tab-size+1 ) {
        grid-template-columns: 315px 1fr;
        &:nth-child(3){
            grid-template-columns: 1fr 315px;
            img{
                justify-self: start;
            }
        }
    }

    @media screen and (max-width: $tab-size) {
        .info{
            padding: 0px 8px;
        }
        &:nth-child(3) img{
            grid-row: 2/3;
        }
    }
    row-gap: 30px;
    column-gap: 65px;

    img{
        // max-width: 750px;
        width: 100%;
        justify-self: end;
        align-self: center;
        box-shadow: 15px 15px 50px rgba(11, 55, 116, 0.25);
        @media screen and ( max-width: $tab-size) {
            box-shadow: 12px 12px 30px rgba(11, 55, 116, 0.15);
        }
    }
}

ul{
    list-style: none;
    display: grid;
    row-gap: 8px;
    li{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 8px;
        font-weight: 500;
    }
}

.info{
    display: grid;
    row-gap: 24px;
    align-self: start;
}